<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AvaliaFilmes</title>
    <link rel="shortcut icon" href="/assets/imagens/icone.ico" type="image/x-icon">
    <%- include('../partials/estilizacao.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container mt-5 min-vh-100">
      <h2>Lista de Filmes</h2>
      <ul class="list-group">
        <% filmes.forEach(function(filme) { %>
        <li class="list-group-item">
          <strong><%= filme.Filme %></strong><br />
          Ano de Lançamento: <%= filme.AnoLancamento %><br />
          Atores: <%= filme.Atores %><br />
          Diretores: <%= filme.Diretores %><br />
          Gêneros: <%= filme.Generos %><br />
          Média de Avaliações: <%= filme.MediaAvaliacoes %>

          <div class="d-flex justify-content-end">
            <a href="/filmes/editar/<%= filme.ID %>" class="btn btn-primary"
              >Editar Filme</a
            >
          </div>
        </li>
        <% }); %>
      </ul>

      <!-- Adicione a navegação de página usando Bootstrap -->
      <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center mt-4">
          <% for (let i = 1; i <= totalPaginas; i++) { %>
          <li class="page-item <%= i == paginaAtual ? 'active' : '' %>">
            <a class="page-link" href="?pagina=<%= i %>"><%= i %></a>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
