<!-- atores/pesquisar.ejs -->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesquisar Atores</title>
    <!-- Inclua os estilos do Bootstrap -->
    <%- include('../../partials/estilizacao.ejs') %>
  </head>
  <body>
    <!-- Inclua a barra de navegação, se necessário -->
    <%- include('../../partials/navbar.ejs') %>
    <div class="container mt-3 min-vh-100">
      <h2>Pesquisar Atores</h2>
      <form class="form-inline mt-3" action="/atores/pesquisar" method="GET">
        <div class="form-group">
          <label for="nomeAtor" class="sr-only">Nome do Ator</label>
          <input
            type="text"
            class="form-control"
            id="nomeAtor"
            name="nome"
            placeholder="Digite o nome do ator"
          />
        </div>
        <button type="submit" class="btn btn-primary ml-2">Pesquisar</button>
      </form>
      <h3>Resultados da Pesquisa</h3>

      <% if (atores.length > 0) { %>
      <ul class="list-group">
        <% atores.forEach(function(ator) { %>
        <li class="list-group-item">
          <strong><%= ator.NomeAtor %></strong><br />
          Filmes Atuados: <%= ator.FilmesAtuados %>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p>Não foram encontrados resultados para esta pesquisa.</p>
      <% } %>
    </div>
    <!-- Inclua o rodapé, se necessário -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
