<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesquisar Diretores</title>
    <%- include('../../partials/estilizacao.ejs') %>
</head>

<body>
    <%- include('../../partials/navbar.ejs') %>
        <div class="container mt-3 min-vh-100">
            <h2>Pesquisar Diretores</h2>
            <form class="form-inline mt-3" action="/diretores/pesquisar" method="GET">
            <div class="form-group">
                <label for="nomeDiretor" class="sr-only">Nome do Diretor</label>
                <input type="text" class="form-control" id="nomeDiretor" placeholder="Digite o nome do diretor" />
            </div>
            <button type="submit" class="btn btn-primary ml-2">Pesquisar</button>
            </form>
            <h3>Resultados da Pesquisa</h3>

            <% if(diretores.length > 0) {%>
                <ul class="list-group">
                    <% diretores.forEach(function(diretor) { %>
                        <li class="list-group-item">
                            <strong>
                                <%= diretor.NomeDiretor %>
                            </strong><br />
                            Filmes Dirigidos: <%= diretor.FilmesDirigidos %>
                        </li>
                        <% }); %>
                </ul>
                <% } else { %>
                    <p>Não foram encontrados resultados para esta pesquisa.</p>
                    <% } %>
        </div>
        <%- include('../../partials/footer.ejs') %>
</body>

</html>